body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  align-items: left;
  justify-content: left;
  padding: 1vw 0 1vw 0;
  max-width: 55vw;
  margin-top: 0vh;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  
}

/* Overwrite default styles of hr */
hr {
  width: 100%;
  border: 1px solid #f1f1f1;
  margin-bottom: 10px;
}

/* Set a style for the submit/register button */
.registerbtn {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.registerbtn:hover {
  
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  width: 100%;
  font-size: 20;
  background-color: #f1f1f1;
  text-align: center;
}