
*{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bn1 {
    display: inline-block;
    padding: 0.6em 0.6em;
    border: 0.1em solid #000000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
  }
  
  .bn1:hover {
    color: #ffffff;
    background-color: #000000;
  }
.navbar{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    padding: 0;
    display: flex;
    height: 10vh;
    align-items: center;
    min-height: 20px;
}

.apple-logo{
    height: 6vh;
    margin: 1vh;
}
.navbar-list{
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-list-elems>a{
    cursor: pointer;
    color: white;
    font-weight:400;
    font-size: 3vh;
    border: 1;
    margin: 10vh;
    text-decoration: none;
}
.navbar-list-elems-select>a{
    cursor: pointer;
    color: cyan;
    font-weight:400;
    font-size: 3vh;
    border: 1;
    margin: 10vh;
    text-decoration: underline;
}
.sides{
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: unset;
    width: 25%;
    height: 100%;
    background-color: #000000;
    margin-top: 10vh;
}
.main{
    margin-top: 10vh;
}
