{% extends 'base.html' %}
{% load static %}
{% block title%} Home Page {% endblock %}

{% block head%}
<link rel="stylesheet" href="{% static 'club/style.css'%}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,300">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400&family=Finger+Paint&display=swap">

<style>

.main > * {
  font-size: 1.3vh;
  font-family: "Epilogue", sans-serif;
  background: #ccc;
}

html {
  background: #ccc;
  --scrollbarBG: #fff;
  --thumbBG: #90a4ae;
}

form {
  background: #ccc;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
form .card {
  max-width: 125vh;
  height: 85vh;
  width: 90vw;
  background-color: white;
  box-shadow: 2vw 2vw 12vw 3vw #ccc;
}
body .card #header {
  height: 7vh;
  background: #000;
  padding: 0vh;
}
form .card #header h1 {
  color: #fff;
  font-size: 4vh;
  font-family: "Finger Paint", cursive;
  padding: 1vh;
}
form .card #message-section::-webkit-scrollbar {
  width: 10px;
}
form .card #message-section {
  height: 70vh;
  padding: 0 2.5vw;
  overflow: auto;
  
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
form .card #message-section::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
form .card #message-section::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

form .card #message-section #bot,
form .card #message-section #user {
  position: relative;
  bottom: 0;
  min-height: 3vh;
  border: 0.15vh solid #777;
  background-color: #fff;
  border-radius: 0px 1.5vh 1.5vh 1.8vh;
  margin: 1vh 0;
}
form .card #message-section #bot-response {
  padding: 1.2vh 1vh 0.5vh 0.5vh;
}
form .card #message-section #user {
  border: 1.5px solid #000;
  border-radius: 1.5vh 0vh 1.5vh 1.8vh;
  background-color: #000;
  padding: 1vh;
  float: right;
}
form .card #message-section #userName {
  position: relative;
  top: -1px;
  left: -0.3%;
  min-height: 0.7vh;
  border: 0vh solid #777;
  padding: 0.5vh;
  border-radius: 0vh 1.5vh 0vh 0vh;
  color: #000;
  background-color: rgb(24, 247, 132);
  clear: both;
  line-height: 2vh;
  font-size: 2vh;
  position: relative;
  margin: -0.5vh;
  width: 100.6%;
  word-wrap: normal;
}
form .card #message-section #user #user-response {
  color: #fff;
}
form .card #message-section .message {
  color: #000;
  clear: both;
  line-height: 2.5vh;
  font-size: 2.2vh;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 75%;
  word-wrap: break-word;
  z-index: 2;
}
form .card .input-section {
  z-index: 1;
  padding: 0 2.5vw;
  display: flex;
  justify-content: flex-start ;
  overflow: hidden;
  margin-right: 5vw;
  height: 6vh;
  width: 100%;
}

form .card .input-section input {
  color: #000;
  outline: none;
  height: 5vh;
  width: inherit;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #000 0.1vw;
}
body .card .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 2vw;
  margin-right: 3vw;
  padding: 0;
  position: relative;
  outline: none;
}
form .card .send .circle {
  position: relative;
  width: 4.8vh;
  height: 4.8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form .card .send .circle i {
  font-size: 3vh;
  margin-left: -1vw;
  margin-top: 1vw;
}
</style>
{% endblock %}

{% block main%}
<form action=" {% url 'chatInput'%} " method="post">
  {% csrf_token %}
    <div class="card">
        <div id="header">
          <h1>Chat box!</h1>
        </div>
        
            <div id="message-section">
                {% for texts in chatss %}
                {% if texts.cid.clubId == clubId %}  
                  {% if texts.uid.user == request.user %}
                    <div class="message" id="user">
                      <span id="user-response"  >{{texts.txt}}</span>
                    </div>
                  {% else %}
                    <div class="message" id="bot">
                      <div id="userName" >{{texts.uid.name}} [{{texts.uid.user.username}}]</div>
                      <div id="bot-response" >{{texts.txt}}</div>
                    </div>
                  {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            
            
        <div class="input-section">
            
          <input id="input" name="inputs" type="text" placeholder="Type a message" autocomplete="off" autofocus="autofocus"/>
          <button class="send" type="submit">
            <div class="circle"><i class="zmdi zmdi-mail-send"></i></div>
          </button>
            
        </div>
      
      </div>
</form>
      <script>
        var objDiv = document.getElementById("message-section");
        objDiv.scrollTop = objDiv.scrollHeight;
      </script>
{% endblock %}
