{%load static%}
<link rel="stylesheet" href="{% static 'club/f2.css' %}"> 
<body>
    
  <form action=" {% url 'submitClub'%} " method="post" enctype="multipart/form-data">
  {%csrf_token%}
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create a Club.</p>
      <hr>
  
      <label for="Department"><b>Department Name</b></label>
      <input type="text" placeholder="Enter Dept Name" name="Department" id="Department" required>
  
      <label for="CID"><b>Club Id</b></label>
      <input type="text" placeholder="Enter Club ID" name="CID" id="CID" required>

      <label for="CName"><b>Club Name</b></label>
      <input type="text" placeholder="Enter Club Name" name="CName" id="CName" required>

      <label for="UName"><b>Creator ID</b></label>
      <input type="text" placeholder="Enter Your User ID" name="Uid" id="Uid" required>
      <br>

      <label for="logos"><b>Upload file</b></label>
      <input type="file" multiple=false placeholder="choose the file" name="logos" id="logos">
      <br>

      <label for="Description"><b>Description</b></label>
      <input type="text" placeholder="Enter Description" name="Description" id="Description" required>
    </div>
    <div>
      <button type="submit" class="registerbtn">Register</button>
    </div>
  </form>

    <div class="container signin">
      <p>Already have a Club? <a href="{% url 'login_page' %}">Sign in</a>.</p>
    </div>
</body>