{% extends 'base.html' %}
{% load static %}
{% block title%} Home Page {% endblock %}

{% block head %}
<style>
    .image-section{
        background-color: blanchedalmond;
        float: left;
        max-width: 100%;
        width: auto ;
    }
    .description{
        float: right;
        width: fit-content;
    }
    .image-logo{
        width: 50vw;
    }
    @media screen and ((max-width: 80vh) or (max-width: 600px)){
        .image-logo{
            width: 90vw;
            max-height: 50vh;
        }
    }
</style>
{% endblock %}

{% block main%}
<div class="image-section">
    <svg class="image-logo" id="sw-js-blob-svg" viewBox="5 15 87 76" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
              <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">  
                 <stop id="stop1" stop-color="rgba(248, 117, 55, 1)" offset="0%"></stop>                       
                 <stop id="stop2" stop-color="rgba(251, 168, 31, 1)" offset="100%"></stop>                        
              </linearGradient>                    
          </defs>  
          <mask id="mask1" mask-type="alpha">
              <path fill="url(#sw-gradient)" d="M26.1,-32.6C33.8,-30.3,40,-22.6,39.9,-14.9C39.8,-7.1,33.5,0.9,30.4,9.7C27.2,18.5,27.4,28.2,22.9,33.7C18.4,39.2,9.2,40.5,0.7,39.6C-7.9,38.7,-15.8,35.6,-23.3,31.1C-30.9,26.6,-38.3,20.7,-41.5,13C-44.7,5.2,-43.9,-4.4,-40.6,-12.8C-37.3,-21.2,-31.5,-28.3,-24.4,-30.9C-17.2,-33.4,-8.6,-31.4,0.3,-31.8C9.2,-32.2,18.3,-35,26.1,-32.6Z" width="100%" height="100%" transform="translate(50 50)" stroke-width="0" style="transition: all 0.3s ease 0s;"></path>
          </mask>
          <g mask="url(#mask1)">              
          <path fill="url(#sw-gradient)" d="M26.1,-32.6C33.8,-30.3,40,-22.6,39.9,-14.9C39.8,-7.1,33.5,0.9,30.4,9.7C27.2,18.5,27.4,28.2,22.9,33.7C18.4,39.2,9.2,40.5,0.7,39.6C-7.9,38.7,-15.8,35.6,-23.3,31.1C-30.9,26.6,-38.3,20.7,-41.5,13C-44.7,5.2,-43.9,-4.4,-40.6,-12.8C-37.3,-21.2,-31.5,-28.3,-24.4,-30.9C-17.2,-33.4,-8.6,-31.4,0.3,-31.8C9.2,-32.2,18.3,-35,26.1,-32.6Z" width="100%" height="100%" transform="translate(50 50)" stroke-width="0" style="transition: all 0.3s ease 0s;"></path>
          <image x="-12" width="120px" height="100px" href="{%static logo%}"></image>
          <g>          
    </svg>  
</div>
<div  class="description">
    asdasdasdsd
</div>
{% endblock %}
